---
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Angular from "./icons/Angular.astro";
import Bootstrap from "./icons/Bootstrap.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-[#0F0F11] text-white",
    icon: Angular,
  },
  BOOTSTRAP: {
    name: "Bootstrap CSS",
    class: "bg-[#563d7c] text-white",
    icon: Bootstrap,
  },
};
const PROJECTS = [
  {
    title: "bdTMDB - Una biblioteca de películas",
    description:
      "Creado con Angular y Bootstrap. Es una biblioteca de películas que se alimenta de la API de TMDB.",
    link: "https://storied-seahorse-77c430.netlify.app/movies?pag=1&section=popular",
    github: "https://github.com/brayandavila/bdTMDB",
    image: "/projects/bdmdb.webp",
    tags: [TAGS.ANGULAR, TAGS.BOOTSTRAP],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        loading="lazy"
        class="rounded shadow-2xl shadow-white/10 aspect-video"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
